@media screen and (min-width:770px) {
	.Sec-FirstView{
		// height: 100vh;
		height: 650px;
	}
	.Sec-FirstView{
		.pic{
			position: relative;
		}
		img{
		width: 1200px;
		// height: 100vh;
		height: 650px;
		margin-left: 10%;
		}	
	}
}

//for ipad
@media screen and (min-width:770px) and (max-width:1030px) {

	.Sec-FirstView{
		img{
		width: 90%;
		// height: 100vh;
		height: 650px;
		}	
	}
}
