@media screen and (min-width:750px) {
	.Sec-FirstView{
		height: 100vh;
	}
	.Sec-FirstView{
		.pic{
			position: relative;
		}
		img{
		width: 1200px;
		height: 100vh;
		margin-left: 10%;
		}	
	}
}

//for ipad
@media screen and (min-width:750px) and (max-width:1030px) {
	.Sec-FirstView{
		img{
		width: 1020px;
		height: 100vh;
		}	
	}
}
