@media screen and (min-width:835px) {

.header{
	height: 50px;
	width: 1300px;
	position: fixed;
	display: inline-block;
	top: 0;
	// text-align: right;
	left: 0;
	z-index: 1000;
	line-height: 90px;
	.menu{
		width: 90%;
		text-align: right;
	}
	ul{
		margin-left: 15%;
		li{
			display: inline-block;
			vertical-align: middle;
			img{
				width: 20px;
				cursor: pointer;
			}
		}
		li+li{
			margin-left: 15px;
		}
		a{
			cursor: pointer;
			color: #fff;
			display: inline-block;
			font-size: 0.8rem;
			letter-spacing: 0.1em;
			line-height: 130px;
			padding: 0 2px 2px;
		}
		.language{
			margin-left: 32px;
		}
		.languageRight{
			padding:0;
			margin:0;
		}
		.red{
			color: #DFCBBD;
			font-size: 1.1rem;
		}
	}
}
}

@media screen and (max-width:834px) {
	.header{
		top: 0;
		position: fixed;
		background-color: #333333;
		width: 100%;
		height: 50px;
		.logo{	
			width: 90%;
			h1{
				padding-left: 10%;
				color: #FFF;
				font-size: 5vw;
				letter-spacing: 0.1em;
				line-height: 70px;
				text-align: center;
			}
		}
		.top{
			display: inline-block;
		}
		nav {
			font-weight: bold;
			&#toggleMenu {
			position: absolute;
			right: 0;
			left: 0;
			top: 50px;
			height: 0;
			overflow: hidden;
			background-color: #aaa;
			transition: 0.3s;
			// opacity:0.9;
				&.open {
					height: 145px;
				}
				a {
					display: block;
					text-decoration: none;
					text-align: center;
					color: white;
					transition: 0.2s;
					margin: 0;
					font-size: 1.3em;
					line-height: 35px;
					border-radius: 0;
					// border-top: 1px solid #777;
				}
			}
		}
	}
}
//for ipad
@media screen and (min-width:835px) and (max-width:1030px) {
	.header{
		height: 40px;
		width: 100%;
		ul{
			margin-left: 10%;
		}
	}
}