@media screen and (min-width:770px) {
.wrap-works{
	// margin-left: 100px;
	margin-left: 10%;
	width: 90%;
	// width: 90%;
	// margin-left: 10%;
}
.main-works {
	padding-left:50px;
	float: left;
	position: relative;
	img{
		overflow: hidden;
		text-align: center;
		width: 700px;
		height: 320px;
	}
	.title{
		font-size: 1.6em;
		// letter-spacing: 0.1em;
		line-height: 1.0em;
		padding-top: 10px;
		text-align: center;
		height: 35px;
	}
	.title, .detail, .development{
		// letter-spacing: 0.08em;
		color: white;
		// font-size: 1.0rem;
		line-height: 1.2em;
		margin-bottom: 10px;
		text-align: center;
	}
	p{
		color: white;
	}
	.detail{
		height: 60px;
		width: 500px;
		margin: 0 auto;
	}
	.button-area{
		text-align: center;
	}
	.line{
		position: relative;
		border-top: 1px solid white;
		width: 50%;
		margin: 0 auto 20px;
		.caption1{
			position: absolute;
			top: 0;
			font-size: 1em;
			padding: 0 0.5em;
			background-color: #333333;
			transform: translateY(-50%) translate(180%);
		}
		.caption2{
			position: absolute;
			top: 0;
			font-size: 1em;
			padding: 0 0.5em;
			background-color: #333333;
			transform: translateY(-50%) translate(100%);
		}
	}
	.btn {
		display: inline-block;
		padding: 0.5em 1.5em;
		text-decoration: none;
		color: #aaa;
		border: solid 1px #aaa;
		border-radius: 3px;
		transition: .4s;
		margin: 12px;
		font-size: 1.0em;
	}
	.btn:hover {
		background: #aaa;
		color: black;
	}
}
.sub-works {
	// margin-left: 60px;
	float: right;
	height: 600px;
	overflow: hidden;
	.skill-item{
		// margin-bottom: 5px;
		img{
			cursor: pointer;
			width: 350px;
		}
	}
}
}

//for ipad
@media screen and (min-width:770px) and (max-width:1030px) {
	.main-works {
		img{
			width: 400px;
			height: 250px;
		}
		.title{
			margin-top: 20px;
		}
		.detail{
			width: 400px;
		}
		.line{
			width: 85%;
		}
	}
	.sub-works {
		// margin-left: 60px;
		margin-right:10%;
		// height: 100vh;
		.skill-item{
			// margin-bottom: 5px;
			img{
				cursor: pointer;
				width: 300px;
			}
		}
	}

}
@media screen and (max-width:769px) {
	.skill-item{
    text-align: center;
		img{
			width: 100%;
		}
		.title{
			margin-top: 20px;
			text-align: center;
			color: white;
		}
		.button-area{
			text-align: center;
		}
		.btn {
			display: inline-block;
			padding: 0.8em 2em;
			text-decoration: none;
			color: #aaa;
			border: solid 2px #aaa;;
			border-radius: 5px;
			transition: .4s;
			margin: 20px;
			font-size: 1.3em;
		}
		.btn:hover {
			background: #aaa;
			color: black;
		}
	}
}